:root {
    --baby-pink: #ffd6ed;
    --light-gold: #f1e3a4;
    --gold: #e7cd78;
  }

  @font-face {
    font-family: "Futura";
    src: url("fonts/futura/Futura%20Book%20font.ttf") format("truetype");
  }
  
  h1 {
    font-family: "Futura", sans-serif;
}
  

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22px;
    height: 17px;
    cursor: pointer;
    position: fixed;
    top: 35px;
    right: 30px;
    z-index: 100;
}

/* LIGHT MODE */

.line {
    height: 1.6px;
    background-color: #000000;
    width: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(5.5px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
    /* Middle line fades out */
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
}

#menu-section {
    display: none;
    height: 100vh;
    position: fixed;
    background-color: white;
    top: 70px;
    left: 0;
    width: 100vw;
    z-index: 9999;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    margin: 25px;
}

.menu a {
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    font-weight: bold;

    position: relative;
    /* Necessary for positioning the pseudo-element */
    display: inline-block;
    /* Ensure the background size applies to the text */
    background-image: linear-gradient(to right, #000000 0%, #000000 0%);
    /* Start with no underline */
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 0% 2px;
    /* Initially no width for the underline */
    transition: background-size 0.3s ease;
    /* Animate the underline expansion */
}

#menu-section.active {
    display: block;
}

.menu a:hover {
    text-decoration: none;
    /* Remove default underline */
    background-size: 100% 2px;
    /* Expand the underline to full width */
}

body.light {
    background-color: white;
    color: #000000;
    text-align: center;
    font-family: 'Futura', sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: inherit;
    color: inherit;
}


h1 {
    text-align: left;
    font-size: 40px;
    position: relative;
}

h1 a {
    text-decoration: none;
    color: #000000;
}

.main-container {
    display: flex;
    /* Set children side by side */
    align-items: flex-start;
    /* Vertically align items */
    gap: 20px;
    /* Add space between the left and right sections */
    padding: 20px;
    /* Optional: Add padding around the container */
}

.image-text-container {
    text-align: left;
    width: fit-content;
    /* Adjust width to fit the content */
    flex-shrink: 0;
    /* Prevent shrinking of the container */
}

.left-image {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

#edu {
    text-align: center;
    margin-top: 12px;
}

/* Right section (ABOUT and paragraph) */
.right-text-container {
    flex: 1;
    /* Allow the right section to take up remaining space */
    text-align: left;
    /* Align text to the left */
}

/* Styling for the ABOUT heading */
#about {
    text-align: center;
    /* Center the ABOUT heading horizontally */
    margin-bottom: 10px;
    /* Add some spacing below the heading */
}

footer {
    position: static;
    left: 0px;
    bottom: 30px;
    height: 30px;
    width: 100%;
}

hr {
    border: 0.2px solid black;
}

.social-links a {
    text-decoration: none;
    margin: 3px;
}

#mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
    background-color: transparent;
    color: #000000;
    border-radius: 25px;
    border-width: 2px;
    border-color: #000000;
    font-family: 'Futura', sans-serif;
    cursor: pointer;
    z-index: 99999;
}

::selection {
    background-color: var(--baby-pink);
}

/* DARK MODE */
body.dark ::selection {
    background-color: hotpink;
}
body.dark #line {
    height: 2px;
    background-color: var(--baby-pink);
    width: 100%;
    border-radius: 5px;
}

body.dark {
    background-color: #000000;
    color: var(--baby-pink);
    text-align: center;
    font-family: 'Futura', sans-serif;
}

body.dark #mode {
    background-color: transparent;
    color: var(--baby-pink);
    border-color: var(--baby-pink);
    outline: none;
    font-family: 'Futura', sans-serif;
    z-index: 99999;
}

body.dark #menu a {
    text-decoration: none;
    color: var(--baby-pink);
    font-weight: bold;
}

body.dark #menu-section {
    background-color: #000000;
}

body.dark #h1 {
    text-decoration: none;
    color: var(--baby-pink);
}

body.dark .menu a {
    text-decoration: none;
    font-size: 30px;
    color: var(--baby-pink);
    font-weight: bold;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to right, var(--baby-pink) 0%, var(--baby-pink) 0%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 0% 2px;
    transition: background-size 0.3s ease;
}

body.dark .menu a:hover {
    text-decoration: none;
    /* Remove default underline */
    background-size: 100% 2px;
    /* Expand the underline to full width */
}

body.dark hr {
    border: 0.2px solid var(--baby-pink);
}

* {
    box-sizing: border-box;
}

/* CAREER OVERVIEW TIMELINE */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--baby-pink);
    top: 0;
    bottom: 40px;
    left: 50%;
    margin-left: -3px;
}

body.dark .timeline::after {
    background-color: var(--baby-pink);
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--baby-pink);
    border: 4px solid var(--gold);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

body.dark .container::after {
    background-color: var(--baby-pink);
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--baby-pink);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--baby-pink);
}

body.dark .left::before {
    border-color: transparent transparent transparent var(--baby-pink);
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--baby-pink);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--baby-pink) transparent transparent;
}

body.dark .right::before {
    border-color: transparent var(--baby-pink) transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: var(--baby-pink);
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid var(--gold);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--gold) transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

body.dark .timeline {
    color: black;
}

body.dark .content {
    background-color: var(--baby-pink);
}

.projects li {
    position: relative;
    display: inline-block;
}

.projects li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.projects li:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
}

/* CRIMINOLOGY PDFS */
