/* ALL PAGES / GENERAL CSS */
:root {
    --baby-pink: #ffd6ed;
    --light-gold: #f1e3a4;
    --gold: #e7cd78;
    --beige-grey: #efebe8;
    --dark-grey: #312c26;
    --red: #9f0713;
}

@font-face {
    font-family: 'Diamend Demo';
    src: url('fonts/diamend-demo.regular.otf') format('opentype');
}

@font-face {
    font-family: 'Vanity';
    src: url('fonts/vanity/Vanity - OTF/Vanity-BoldWide.otf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/static/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html {
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::selection {
    background-color: var(--red);
}

/* LIGHT MODE START */
body.light {
    background-color: var(--beige-grey);
    color: var(--dark-grey);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* LIGHT MODE END */

/* HEADER START */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem;
    top: 0;
    margin: 0;
    width: 100%;
    height: 95px;
    z-index: 1000;
    background-color: var(--beige-grey);
    border-bottom: 1px solid lightgrey;
    position: relative;
}

h1 {
    text-align: left;
    font-family: 'Vanity';
    font-size: 45px;
    position: relative;
    margin-bottom: 0;
    padding-top: 8px;
    margin-left: 5vw;
}

h1 a {
    text-decoration: none;
    color: var(--dark-grey);
}

#menu-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    height: 0px;
    padding-top: 8px;
}

.menu {
    list-style: none;
    display: flex;
}

#menu-section li {
    margin-right: 50px;
}

#menu-section li a {
    font-size: 25px;
    font-family: 'Diamend Demo';
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.menu>li {
    position: relative;
    /* needed for dropdown positioning */
}

.dropdown-work-menu {
    display: none;
    position: fixed;
    top: 95px;
    left: 0;
    width: 100vw;
    background: var(--beige-grey);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid lightgray;
    z-index: 1000;
}

.dropdown-work-menu li {
    list-style: none;
    text-align: left;
}

.dropdown-work-menu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 20px !important;
}

/* HEADER END */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: inherit;
    color: inherit;
}

h2 {
    font-family: 'Diamend Demo';
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-family: 'Inter';
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h2+p {
    margin-top: 4px;
    padding: 0;
}

a:hover,
#menu-section .menu li a:hover,
.dropdown-name:hover,
.dropdown:hover,
#mode:hover,
.footer-icons i:hover {
    color: var(--red);
}

*:hover::selection {
    color: var(--dark-grey);
}

/* ABOUT PAGE */
#content {
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 85px;
}

.text-container {
    position: relative;
    flex: 1;
    width: 60dvw;
    text-align: left;
    padding-left: 10dvw;
    padding-right: 10dvw;
}

#about-title {
    font-size: 12dvw;
    margin-bottom: -26px;
    opacity: 0;
}

#about-title.show {
    animation: slideUpAbout 0.3s ease-out forwards;
    animation-delay: 0.5s;
}

.about-header {
    font-size: 32px;
    line-height: 1.5;
}

.about-text {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 20px;
}

#about-image {
    width: 40vw;
    position: relative;
    display: flex;
    height: calc(100dvh - 150px);
    left: auto;
    right: 0;
    justify-content: center;
    align-items: center;
}

#headshot {
    width: 21dvw;
    aspect-ratio: 4 / 5;
    object-fit: cover;

    transform: scale(0);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    transform-origin: center;
}

#headshot.show {
    transform: scale(1);
    opacity: 1;
}

/* LIGHT MODE / DARK MODE BUTTON START */
#mode {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
    background-color: transparent;
    color: var(--dark-grey);
    border-radius: 25px;
    border: 2px solid var(--dark-grey);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: pointer;
    z-index: 99999;
}

#mode:hover {
    border-color: var(--red);
}

/* LIGHT MODE / DARK MODE BUTTON END */

/* DARK MODE START */
body.dark,
body.dark ::selection,
body.dark *:hover::selection,
body.dark #mode,
body.dark #menu a,
body.dark #h1,
body.dark .menu a,
body.dark .link,
body.dark .dropdown-name,
body.dark .dropdown,
body.dark .footer-icons i {
    color: var(--beige-grey)
}

body.dark,
body.dark header,
body.dark #menu-section,
body.dark #filter-section,
body.dark #filter-section ul,
body.dark .dropdown-name,
body.dark .dropdown {
    background-color: var(--dark-grey);
}

body.dark #filter-section {
    border: 1px solid var(--dark-grey);
}

body.dark .dropdown-name:hover,
body.dark .dropdown:hover,
body.dark #mode:hover,
body.dark .footer-icons i:hover {
    color: var(--red);
}

body.dark #mode:hover {
    border-color: var(--red);
}

body.dark ::selection {
    background-color: var(--red);
}

body.dark #line {
    height: 2px;
    background-color: var(--beige-grey);
    width: 100%;
    border-radius: 5px;
}

body.dark {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

body.dark #mode {
    background-color: transparent;
    border-color: var(--beige-grey);
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    z-index: 99999;
}

body.dark #menu a {
    text-decoration: none;
}

body.dark #h1 {
    text-decoration: none;
}

body.dark .menu a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

body.dark a:hover,
body.dark #h1:hover {
    color: var(--red);
    text-decoration: none;
}

body.dark hr {
    border: 0.2px solid var(--beige-grey);
}

body.dark .top-panel {
    background-color: var(--beige-grey);
}

body.dark .project-title {
    color: var(--dark-grey);
}

body.dark .project-title::selection {
    color: var(--dark-grey);
}

body.dark .link {
    text-decoration: none;
}

body.dark #page-overlay {
    background: var(--beige-grey);
}

/* DARK MODE END */

* {
    box-sizing: border-box;
}

/* HOME PAGE START */
#index-subtitle {
    margin-top: 95px;
    padding-top: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0;
    padding-bottom: 0;
}

#index-subtitle-text {
    text-align: center;
    margin: 20px auto;
}

#filter-section {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    position: sticky;
    top: 95px;
    z-index: 1000;
    background-color: var(--beige-grey);
    border: 1px solid var(--beige-grey);
}

#filter-section ul.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    z-index: 1000;
    background-color: var(--beige-grey);
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-name {
    padding-right: 50px;
}

.dropdown-name,
.dropdown {
    border: none;
    font: inherit;
    cursor: pointer;
    color: var(--dark-grey);
    background-color: var(--beige-grey);
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    border: 1px solid lightgrey;
    padding: 0 5px 0 2px;
    margin: 3px auto;
    white-space: nowrap;
    line-height: 1.5;
    z-index: 1000;
}

#gallery-section {
    margin: auto 10px 15px;
    column-count: 3;
    grid-template-rows: masonry;
    column-gap: 10px;
}

.gallery {
    margin-top: 0;
    display: grid;
    align-items: start;
    row-gap: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: inline-block;
}

.gallery-item.hidden {
    display: none;
}

@media (max-width: 900px) {
    #gallery-section {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    #gallery-section {
        column-count: 1;
    }
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.image-wrapper:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

/* HOME PAGE END */

/* WORK PAGE START */
.gallery li.column-fixed {
    left: 0;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.gallery li.column-fixed.fixed {
    position: fixed;
}

#work-header {
    animation: slideUp 0.2s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

#work-text {
    font-size: 13.5px;
    text-align: left;
    width: 60%;
    margin: 0 auto;

    animation: slideUp 0.3s ease-out forwards;
    animation-delay: 1.2s;
    opacity: 0;
}

#column-work {
    list-style: none;
    margin-top: 95px;
    margin-bottom: 20px;
    margin-right: 0;
    position: relative;
    left: 45dvw;
    /* position of left border */
    width: 51.4dvw;
    text-align: left;

    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease, filter 1.5s ease;
}

@keyframes fadeBlur {
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    20% {
        opacity: 0.1;
        filter: blur(10px);
    }

    30% {
        opacity: 1;
        filter: blur(7px);
    }

    40% {
        opacity: 1;
        filter: blur(5px);
    }

    55% {
        opacity: 1;
        filter: blur(4px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

#column-work.show {
    animation: fadeBlur 0.5s forwards;
    animation-delay: 0.2s;
}

.work-title {
    font-size: 36px;
}

/* WORK PAGE END */

/* WORK - PROJECTS START */
.top-panel {
    top: 0;
    margin: 0 auto;
    width: 87vw;
    /* 80% of viewport width */
    height: 95vh;
    /* 80% of viewport height */
    background-color: var(--dark-grey);
    /* solid color */
    transform: translateY(-100%);
    /* start above the viewport */
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: end;
}

.top-panel.active {
    transform: translateY(0);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-bottom: 75px;
}

.project-title {
    display: flex;
    color: var(--beige-grey);
    font-size: 103px;
    margin-bottom: 50px;
    padding: auto 10vw;
    animation: slideUpWork 0.4s ease-out forwards;
    animation-delay: 0.8s;
    opacity: 0;
}

.project-title::selection {
    color: var(--beige-grey);
}

.project-subtitle {
    padding: 75px 25vw 0;
    font-size: 40px;
    text-align: center;
    line-height: 1.25;
}

.project-keywords-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.project-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-keywords-heading {

    text-decoration: underline;
}

.project-img-desc {
    margin: 0 auto;
}

.project-keywords-text {
    margin-top: 5px;
    text-align: left;
    line-height: 1.3;
}

.project-text {
    text-align: center;
    line-height: 1.3;
}

.projects img {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* WORK - PROJECTS END */
/* GALLERY PAGE */
.projects li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.projects li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.projects li:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
}

/* PDFS */
.pdf-frame {
    aspect-ratio: 8.5 / 10.7;
    border: none;
    overflow: scroll;
}

/* LINKS START */
.link {
    color: var(--dark-grey);
    text-decoration: none;
}

/* LINKS END */

/* PAGE TRANSITION */
#page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-grey);
    /* transition color */
    border-bottom: 6px solid var(--dark-grey);
    /* border line at bottom */
    z-index: 9999;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
}

#page-overlay.slide-up {
    transform: translateY(-100%);
    transition-delay: 0.4s;
}

#page-overlay.slide-down {
    transform: translateY(100%);
    transition-delay: 0.4s;
}

#content,
.header,
.footer {
    opacity: 0;
    transform: translateY(100vh);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.header-index {
    white-space: nowrap;

    opacity: 0;
    transform: translateY(-100vh);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}


.header.loaded,
.header-index.loaded,
#content.loaded,
#content-down.loaded,
.footer.loaded,
.footer-down.loaded {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}

.header.fixed,
.header-index.fixed,
.header-down.fixed {
    position: fixed;
}

.header-down.loaded {
    opacity: 0;
    transform: translateY(0);
}

.header-wrapper {
    position: relative;
}

.header-wrapper:hover .header-down {
    opacity: 1;
}

/* PAGE TRANSITION - SLIDE DOWN */
#content-down {
    margin: 0;
    padding: 0;
    gap: 0;
}

#content-down,
.header-down,
.footer-down {
    opacity: 0;
    transform: translateY(-100vh);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

/* CONTACT PAGE */
.contact-info {
    margin-top: 20%;
    flex-direction: column;
    padding-left: 150px;
    text-align: left;
}

/* Text Transitions */
.reveal-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    /* hides the block as it slides away */
}

.reveal-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: --var(--dark-grey);
    transform: translateY(0);
    transition: transform 0.6s ease;
    z-index: 2;
}

.reveal-text {
    opacity: 0;
    transform: translateY(10px);
    animation: slideUp 0.6s ease forwards;
    animation-delay: 0.3s;
    /* wait until block starts moving */
    position: relative;
    z-index: 1;
    /* text below the block */
}

.reveal-wrapper.show::before {
    transform: translateY(-100%);
    /* slide block up */
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpAbout {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpWork {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FOOTER START */
footer {
    bottom: 0;
    border-top: 1px solid lightgrey;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-icons i {
    font-size: 25px;
    color: var(--dark-grey);
    margin: 10px 2.5px;
}

/* FOOTER END */